<p id="notice"><%= notice %></p>

<p>
  <strong>Wrapper type:</strong>
  <%= @tune.wrapper_type %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @tune.kind %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @tune.artist_id %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @tune.collection_id %>
</p>

<p>
  <strong>Track:</strong>
  <%= @tune.track_id %>
</p>

<p>
  <strong>Artist name:</strong>
  <%= @tune.artist_name %>
</p>

<p>
  <strong>Collection name:</strong>
  <%= @tune.collection_name %>
</p>

<p>
  <strong>Track name:</strong>
  <%= @tune.track_name %>
</p>

<p>
  <strong>Collection censored name:</strong>
  <%= @tune.collection_censored_name %>
</p>

<p>
  <strong>Track censored name:</strong>
  <%= @tune.track_censored_name %>
</p>

<p>
  <strong>Artist view url:</strong>
  <%= @tune.artist_view_url %>
</p>

<p>
  <strong>Collection view url:</strong>
  <%= @tune.collection_view_url %>
</p>

<p>
  <strong>Track view url:</strong>
  <%= @tune.track_view_url %>
</p>

<p>
  <strong>Preview url:</strong>
  <%= @tune.preview_url %>
</p>

<p>
  <strong>Artwork url 30:</strong>
  <%= @tune.artwork_url_30 %>
</p>

<p>
  <strong>Artwork url 60:</strong>
  <%= @tune.artwork_url_60 %>
</p>

<p>
  <strong>Artwork url 100:</strong>
  <%= @tune.artwork_url_100 %>
</p>

<p>
  <strong>Collection price:</strong>
  <%= @tune.collection_price %>
</p>

<p>
  <strong>Track price:</strong>
  <%= @tune.track_price %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @tune.release_date %>
</p>

<p>
  <strong>Collection explicitness:</strong>
  <%= @tune.collection_explicitness %>
</p>

<p>
  <strong>Track explicitness:</strong>
  <%= @tune.track_explicitness %>
</p>

<p>
  <strong>Disc count:</strong>
  <%= @tune.disc_count %>
</p>

<p>
  <strong>Disc number:</strong>
  <%= @tune.disc_number %>
</p>

<p>
  <strong>Track count:</strong>
  <%= @tune.track_count %>
</p>

<p>
  <strong>Track number:</strong>
  <%= @tune.track_number %>
</p>

<p>
  <strong>Track time millis:</strong>
  <%= @tune.track_time_millis %>
</p>

<p>
  <strong>Country:</strong>
  <%= @tune.country %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @tune.currency %>
</p>

<p>
  <strong>Primary genre name:</strong>
  <%= @tune.primary_genre_name %>
</p>

<p>
  <strong>Radio station url:</strong>
  <%= @tune.radio_station_url %>
</p>

<%= link_to 'Edit', edit_tune_path(@tune) %> |
<%= link_to 'Back', tunes_path %>
