<p id="notice"><%= notice %></p>

<p>
  <strong>Fiscal year:</strong>
  <%= @press_release.fiscal_year %>
</p>

<p>
  <strong>Press release sn:</strong>
  <%= @press_release.press_release_sn %>
</p>

<p>
  <strong>Title:</strong>
  <%= @press_release.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @press_release.url %>
</p>

<%= link_to 'Edit', edit_press_release_path(@press_release) %> |
<%= link_to 'Back', press_releases_path %>
