<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bean.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @bean.category %>
</p>

<p>
  <strong>Jan code:</strong>
  <%= @bean.jan_code %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bean.price %>
</p>

<p>
  <strong>Special:</strong>
  <%= @bean.special %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @bean.notes %>
</p>

<p>
  <strong>Notification:</strong>
  <%= @bean.notification %>
</p>

<p>
  <strong>Growing region:</strong>
  <%= @bean.growing_region %>
</p>

<p>
  <strong>Processing method:</strong>
  <%= @bean.processing_method %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @bean.flavor %>
</p>

<p>
  <strong>Body:</strong>
  <%= @bean.body %>
</p>

<p>
  <strong>Acidity:</strong>
  <%= @bean.acidity %>
</p>

<p>
  <strong>Complementary flavors:</strong>
  <%= @bean.complementary_flavors %>
</p>

<%= link_to 'Edit', edit_bean_path(@bean) %> |
<%= link_to 'Back', beans_path %>
